@font-face {
    font-family: Norse-Bold;
    src: url(./Norse-Bold.otf)
}

html {
    font-size: 16;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    --bright-white: #f8f8f8;
    --gray-white: #f0f0f0;
    --button-green: #575;
    --data-text-color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    background-color: #101010;
    height: 1000px;
    width: 1350px;
}

.picture-page {
    background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
    width: 40%;
    height: 1000px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.info-page {
    padding: 0;
    height: 1000px;
    width: 60%;
}

.company-title {
    background-color: rgb(10, 10, 10, 0.55);
    font-size: 5.5rem;
    width: 100%;
    text-align: center;
    color: var(--gray-white);
    position: relative;
    margin-top: 220px;
    font-family: "Norse-Bold";
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px 0;
}

.header, .submit {
    background-color: var(--gray-white);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    padding-bottom: 40px;
}

.submit {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 40px;
    align-items: flex-start;
}

.data {
    background-color: var(--bright-white);
    height: 30%;

    /* flexbox params*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 15px 70px;
    position: relative;
    box-shadow: 0 10px 10px #b8b8b8;
}

form > div {
    margin: 0;
    padding: 20px 50px;
    height: 35%;
}

h2, h3 {
    margin: 0;
    padding: 0;
    width: 100%;
}

form {
    height: 1000px;
}

.data .input {
    width: 225px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    color: var(--data-text-color);
    font-size: 0.8rem;
    font-weight: bold;
}

.data input {
    border-radius: 5px;
    border-color: #e0e0e0;
    border-width: 1px;
    border-style: solid;
    font-size: inherit;
    color: inherit;
    height: 2.5em;
    font-weight: inherit;
}

.data input:valid {
    border-color: green;
}

.data input:invalid {
    border-color: red;
}

.data > h3 {
    color: var(--data-text-color);
}

input[type="submit"] {
    background-color: var(--button-green);
    border: 0;
    border-radius: 6px;
    color: white;
    font-size: 1.25rem;
    padding: 18px 40px;
    font-weight: bold;
}

.submit a {
    color: var(--button-green);
    text-decoration: none;
    font-weight: bold;
}

.picture-page p {
    color: var(--bright-white);
    font-size: 0.8em;
}

.picture-page a, .picture-page a:focus,
.picture-page a::after {
    color: inherit;
}

.error {
    color: red;
    margin-top: 0px;
    visibility: hidden;
}